<div class="section d-flex align-items-center">
    <div class="container-fluid my-4 d-flex flex-row align-items-center">
        <div class="container ">
        <div class="row d-flex flex-column justify-content-center align-items-center">
            <div class="col d-flex justify-content-center">
                <div class="display-4 header">
                    My Journey
                </div>
            </div>
            <div class="col text-center">
                <div class="stepper d-flex flex-column mt-5 ml-2">
                    <div class="d-flex justify-content-center">
                      <div class="d-flex flex-column pr-4 align-items-center">
                        <div class="rounded-circle py-2 px-3 bg-primary text-white mb-1">1</div>
                        <div class="line h-100"></div>
                      </div>
                      <div>
                        <h5 class="text-light">Front-End Developer Intern @ OpenWorkPark</h5>
                        <p class="lead text-muted pb-3">provided quick insights into organizational data and designed and developed multiple websites using AngularJS</p>
                      </div>
                    </div>
                    <div class="d-flex justify-content-center">
                      <div class="d-flex flex-column pr-4 align-items-center">
                        <div class="rounded-circle py-2 px-3 bg-primary text-white mb-1">2</div>
                        <div class="line h-100"></div>
                      </div>
                      <div>
                        <h5 class="text-light">Master's in Computer Applications</h5>
                        <p class="lead text-muted pb-3">Bhartiya vidyapeeth's Institute of computer application and management(GGSIPU) <br>NEW Delhi</p>
                      </div>
                    </div>
                    <div class="d-flex justify-content-center">
                      <div class="d-flex flex-column pr-4 align-items-center">
                        <div class="rounded-circle py-2 px-3 bg-primary text-white mb-1">3</div>
                        <div class="line h-100"></div>
                      </div>
                      <div>
                        <h5 class="text-light">Bachelor's in Computer Applications</h5>
                        <p class="lead text-muted pb-3">Singhania University <br> Jhunjhunu, Rajasthan</p>
                      </div>
                    </div>
                    <div class="d-flex justify-content-center">
                      <div class="d-flex flex-column pr-4 align-items-center">
                        <div class="rounded-circle py-2 px-3 bg-primary text-white mb-1">4</div>
                        <div class="line h-100"></div>
                      </div>
                      <div>
                        <h5 class="text-light">Bal Mandir Sr. Sec. School(CBSE)</h5>
                        <p class="lead text-muted pb-3">Kishanganj,Bihar</p>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
</div>