<div class="container-fluid">
    <div class="container d-flex flex-column justify-content-center">
        <div class="row d-flex text-center justify-content-center align-items-center">
            <h1 class="about-header display-4 py-4">About Me</h1>
        </div>
        <div class="row d-flex flex-row align-items-center justify-content-center">
            <div class=" col-lg-7 col-sm-12 d-flex flex row discription">
                <div class="dis text-light">
                    My love for software engineering began with the 'hello world' program in C language while 
                    pursuing my computer science undergraduate studies. From there on I
                    delved deeper into building games and online software applications.
                    <!-- <br> -->
                    During my Masters I interned at OpenWorkPark, an e-commerce and gaming start-up based in Delhi. 
                    There I got extensive experience with navigating and debuging issues in large-scale projects, which
                    were being utilized by thousands of concurrent users.
                    <br/>
                    I built following two applications:
                    <ul>
                        <br>
                        <li>
                            <a href="https://github.com/chetansharma428/Admin-Pannel">Dashboard</a> for flight, hotel, insurance scheduling and bookings. 
                            <br>
                                Tech stack: Angular JS, Nebular, Tailwind CSS, Bootstrap, APIs, Docker
                        </li>
                        <li>
                            Interactive and dynamic game to improve hiring for Recruiters (github link)
                            <br>
                                Tech stack: Phaser JS, XML, Docker
                        </li>
                    </ul>              
                    Currently, I'm working at an e-commerce company, building a software application to improve and expand business 
                    operations all over India.
                    I thrive on taking on new challenges and continuously learning to stay at the forefront of software development. 
                    Thank you for taking the time to learn a bit about me. I'm looking forward
                    to collaborating and creating exciting applications to solve real-world problems.
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 profile">
                <img src="../../../assets/images/personal-DP.jpg" alt="">
            </div>
        </div>
    </div>
</div>