<div class="container-fluid">
    <div class="container d-flex flex-column justify-content-center">
        <div class="row d-flex text-center justify-content-center align-items-center">
            <h1 class="about-header display-4">About Me</h1>
        </div>
        <div class="row d-flex flex-row align-items-center justify-content-center">
            <div class=" col-lg-8 col-sm-12 d-flex flex row discription">
                <div class="dis">
                    Hello, everyone! I'm Chetan Sharma, a developer who finds joy in creating live projects
                    that reach and impact both known and unknown audiences. My coding journey began during my BCA
                    studies when I had my first encounter with the 'hello world' program in C language. From there, I
                    delved into web development, building my very first basic HTML and CSS web page. <br>
                    <!-- <br> -->
                    As time flew by, I pursued my MCA and in 2022, I had the incredible opportunity to intern at
                    OpenWorkPark, a start-up. During my internship, I gained invaluable experience by working on
                    real-world projects and applying my DSA and web development skills to solve complex problems. It was
                    an enriching experience as I learned how to navigate and debug issues in large-scale projects, which
                    were being utilized by thousands of users. <br>
                    <!-- <br> -->
                    Recently, I've been actively working with various technologies, and my skillset includes proficiency
                    in HTML, CSS, Bootstrap, Tailwind CSS, JavaScript, React, Angular, Node.js, MongoDB, SQL, and
                    GitHub. <br>
                    <!-- <br> -->
                    I'm always eager to take on new challenges and further expand my knowledge in the ever-evolving
                    world of web development. I find immense satisfaction in turning ideas into reality and delivering
                    innovative solutions to make a positive impact on people's lives. <br>
                    <br>
                    Thank you for taking the time to learn a bit about me and my journey as a developer. I look forward
                    to collaborating and creating exciting projects that leave a lasting impression on the world!
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 profile">
                <img src="../../../assets/images/about-photo.jpg" alt="">
            </div>
        </div>
    </div>
</div>