.container{
    color: white;
    min-height: 100vh;
}
.profile img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      transition: all .8s ease-in-out;  
}
.profile img:hover{
    filter: none;
    -webkit-filter: grayscale(0);
    transform: scale(1.01);
}
.about-header{
    color: cyan;
}
a{
    text-decoration: none;
    font-family: 'Red Hat Display', sans-serif;
    color: aqua;
}
/* Styles for Small Screens (up to 576px) */
@media (max-width: 576px) {
    .about-header{
        color: cyan;
        font-size: 2rem;
    }
    .dis{
        font-size: 0.90rem;
        // text-align: center;
        padding-bottom: 2rem;
        font-family: "Inter", sans-serif;
    }
}

/* Styles for Medium Screens (576px - 768px) */
@media (min-width: 576px) and (max-width: 768px) {
    .about-header{
        color: cyan;
        font-size: 2rem;
    }
    .dis{
        font-size: 0.90rem;
        // text-align: center;
        padding-bottom: 2rem;
        font-family: "Inter", sans-serif;
    }
}

/* Styles for Large Screens (768px - 992px) */
@media (min-width: 768px) and (max-width: 992px) {
    .dis{
        font-size: 1rem;
        // text-align: center;
        font-family: 'Red Hat Display', sans-serif;
    }
}

/* Styles for Extra Large Screens (992px and above) */
@media (min-width: 992px) {
    .dis{
        font-size: 1rem;
        // text-align: center;
        padding-bottom: 2rem;
        font-family: 'Red Hat Display', sans-serif;
    }
}

/* Additional Styles for Specific Screen Sizes */
/* For example, you can add more media queries for larger screens */
@media (min-width: 1200px) {
  
}