<div class="section">
    <div class="col">
        <div class=" text-center footer-header text-light border-0"><a href="https://github.com/chetansharma428">design & build by Chetan Sharma</a></div>
    </div>
    <div class="row d-flex flex-row justify-content-center align-items-center">
        <div class="col-4 github text-center align-items-center mb-2 border-bottom">
               <a href="https://github.com/chetansharma428">
                <img src="../../../assets/images/github.svg" alt="git">
               </a> 
               <a class="mx-2" href="https://www.linkedin.com/in/chetan-sharma-188150202/">
                <img src="../../../assets/images/linkedin.svg" alt="linkedin">
               </a> 
        </div>
    </div>
    <div class="col">
        
    </div>
</div>
