<nav id="navbar_top" class=" navbar sticky-top navbar-expand-lg my-2 mx-4">
        <div class="col d-flex justify-content-space-around">
            <!-- <button class="bg-transparent border-0"> -->
                <!-- <div class="navbar-brand me-2 d-flex flex-row align-items-center justify-content-end" href="#">    -->
                    <div class="canvas ">
                        <div class="lines">
                            <div class="line line--left"></div>
                            <div class="line line--right"></div>
                        </div>
                        <div class="letters">
                            <div class="letter letter--k">C</div>
                            <div class="letter letter--o">S</div>
                        </div>
                    </div>
                <!-- </div> -->
            <!-- </button> -->
        </div>
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="d-flex justify-content-end">
            <div class="navbar-collapse collapse" id="#navbarSupportedContent" [ngbCollapse]="!isCollapsed">
                <div class="nav navbar-nav">
                    <a class="nav-item nav-link me-4" >About</a>
                    <a class="nav-item nav-link me-4">Experience</a>
                    <a class="nav-item nav-link me-4">Projects</a>
                    <a class="nav-item nav-link me-4">Contact</a>
                </div>
                <button class="btn resume" (click)="downloadResume()">Resume</button>
            </div>
        </div>
</nav>