<div class="section">
    <div class="container d-flex align-items-center " id="about-part">
        <div class="row justify-content-center">
        <div class="col-sm-12 col-lg-8 align-items-center">
            <h5 class="first-line">Hi, My name is</h5>
            <h1 class="display-2 name">Chetan <span class="half">Sharma.</span></h1>
            <h1 class=" display-2 third-line">Software Developer.</h1>
            <h2 class="forth-line">I build things for the web.</h2>
            <div class="desc d-flex flex-column">
                <p class="discription col-lg-8 col-sm-12 font-weight-light h6">
                    I’m a passionate computer science graduate with a Master's in Computer Applications, I am constantly
                    seeking new challenges to push my skills to the next level. With a strong foundation in algorithms
                    and
                    data structures, I have successfully completed several projects that have exposed me to a variety of
                    cutting-edge tools and technologies.
                    What sets me apart is my exceptional communication skills, which enable me to collaborate
                    effectively
                    with teams and stakeholders across diverse domains.
                </p>
                <div class="col-lg-8 col-sm-12 mt-2 d-flex justify-content-around">
                    <button class="btn">Hire Me</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4 profile">
            <div class="profile-pic text-center">
                <img src="../../../assets/images/mohammad-rahmani-_Fx34KeqIEw-unsplash.jpg" alt="me">
            </div>
        </div>
    </div>
</div>
</div>