a{
  text-decoration: none;
  color: cyan;
}
a:hover{
  color: rgb(9, 163, 163);
}
.stepper {
    .line {
      width: 2px;
      background-color: lightgrey !important;
    }
    .lead {
      font-size: 1.1rem;
    }
  }
  .header{
    color: cyan
  }
  .tech{
    color: cyan;
  }
  
  /* Styles for Small Screens (up to 576px) */
@media (max-width: 576px) {
   
}

/* Styles for Medium Screens (576px - 768px) */
@media (min-width: 576px) and (max-width: 768px) {
 
}

/* Styles for Large Screens (768px - 992px) */
@media (min-width: 768px) and (max-width: 992px) {
 
}

/* Styles for Extra Large Screens (992px and above) */
@media (min-width: 992px) {
 
}

/* Additional Styles for Specific Screen Sizes */
/* For example, you can add more media queries for larger screens */
@media (min-width: 1200px) {
  
}