<div class="section d-flex align-items-center">
  <div class="container-fluid my-4 d-flex flex-row align-items-center">
    <div class="container ">
      <div class="row d-flex flex-column justify-content-center align-items-center">
        <div class="col d-flex justify-content-center align-items-center">
          <div class="display-4 header text-center">
            My Professional Journey
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="stepper d-flex flex-column mt-5 ml-2">
            <div class="d-flex">
              <div class="d-flex flex-column pr-4 align-items-center">
                <div class="rounded-circle py-2 px-3 bg-primary text-white mb-1">1</div>
                <div class="line h-100"></div>
              </div>
              <div>
                <h5 class="text-light">Software Engineer, E-commerce startup, 2022.</h5>
                <ul class="lead text-light">
                  <li>
                    Building a software application to improve and expand business
                    operations all over India. <a href="https://github.com/chetansharma428/Admin-Pannel">GitHub</a>

                  </li>
                  <li>
                    Improved and optimized performance of the application by adding Caching.

                    <br>
                    <span class="tech">Tech Stack:</span> Angular JS, Nest JS, Express JS, MongoDB, Tailwind CSS, APIs, Docker, Redis for Caching.
                  </li>
                </ul>
                <!-- <p class="lead text-muted pb-3">provided quick insights into organizational data and designed and developed multiple websites using AngularJS</p> -->
              </div>
            </div>
            <div>
              <div class="d-flex ">
                <div class="d-flex flex-column pr-4 align-items-center">
                  <div class="rounded-circle py-2 px-3 bg-primary text-white mb-1">2</div>
                  <div class="line h-100"></div>
                </div>
                <div>
                  <h5 class="text-light">Software Engineer Intern, OpenWorkPark, 2022.</h5>
                  <ul class="lead text-light">
                    <li>
                      Led the development of dashboard for flight, hotel, insurance scheduling and bookings. 
                      <a
                        href="https://github.com/chetansharma428/Admin-Pannel">GitHub</a>
                      <br>
                      Tech stack: Angular JS, Nebular, Tailwind CSS, Bootstrap, APIs, Docker
                    </li>
                    <li>
                      Created an Interactive and dynamic game to improve hiring for Recruiters.
                      <br>
                      <span class="tech">Tech Stack:</span> Phaser JS, XML, Docker
                    </li>
                  </ul>
                  <!-- <p class="lead text-muted pb-3">provided quick insights into organizational data and designed and developed multiple websites using AngularJS</p> -->
                </div>
              </div>
            </div>
            <div class="d-flex ">
              <div class="d-flex flex-column pr-4 align-items-center">
                <div class="rounded-circle py-2 px-3 bg-primary text-white mb-1">3</div>
                <div class="line h-100"></div>
              </div>
              <div>
                <h5 class="text-light">Master's in Computer Applications, 2022.</h5>
                <ul class="text-light">
                  <li>
                    Bhartiya vidyapeeth's Institute of computer application and management(GGSIPU),
                    <br><img src="../../../assets/images/location.png" alt="location"> New Delhi
                  </li> 
                </ul>
              </div>
            </div>
            <div class="d-flex ">
              <div class="d-flex flex-column pr-4 align-items-center">
                <div class="rounded-circle py-2 px-3 bg-primary text-white mb-1">4</div>
                <div class="line h-100"></div>
              </div>
              <div>
                <h5 class="text-light">Bachelor's in Computer Applications.</h5>
                <ul class="text-light">
                  <li>
                    Singhania University,
                    <br><img src="../../../assets/images/location.png" alt="location"> Jhunjhunu, Rajasthan
                  </li> 
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>