<div class="section">
    <div class="container d-flex align-items-center " id="about-part">
        <div class="row justify-content-center">
        <div class="col-sm-12 col-lg-7 align-items-center">
            <h5 class="first-line">Hi, My name is</h5>
            <h2 class="display-5 name">Chetan <span class="half">Sharma.</span></h2>
            <!-- <h1 class=" display-2 third-line">Software Developer.</h1> -->
            <!-- <h2 class="forth-line">I build things for the web.</h2> -->
            <div class="desc d-flex flex-column">
                <p class="discription col-lg-8 col-sm-12 font-weight-light">
                    I'm a full-stack Software Development Engineer with extensive experience in building web applications
                    with cutting edge technologies. 
                    I've a strong foundation in algorithms and data structures and I enjoy solving
                    new coding challenges to learn and grow my skills to the next level.
                    
                </p>
                <div class="col-lg-8 col-sm-12 mt-2 d-flex justify-content-around">
                    <a class="btn" href="mailto: chetansharma4287@gmail.com">Hire Me</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-5 profile">
            <div class="profile-pic text-center">
                <img src="../../../assets/images/mohammad-rahmani-_Fx34KeqIEw-unsplash.jpg" alt="me">
            </div>
        </div>
    </div>
</div>
</div>