<div class="container-fluid">
  <div class="container">
    <div class="col header d-flex justify-content-center align-items-center my-4">
      <div class="display-4 text-center">
        Software Applications I’ve Built
      </div>
    </div>
    <div class="row d-flex flex-column">
      <div class="col">
        <div class="project-container">
          <div class="project">
            <div class="project-content">
              <div class="project-label">Software Engineer Intern, OpenWorkPark</div>
              <h4 class="project-title">Travel Booking Dashboard</h4>
              <div class="project-details">
                <div class="description">
                  <ul>
                    <li>I led the development of dynamic and feature-rich dashboard for booking and managine flights,
                      hotels, insurance of 1000s of users.</li>
                    <li>Optimized the application using Lazy-loading to load it faster.</li>
                    <li>Optimized SQL queries and indexes to improve the performance of APIs.</li>
                  </ul>
                  Demo ID: juby.handly5@gmail.com <br> Pass: test@1234
                </div>
                  <div class="row project-tech-list d-flex align-items-start flex-wrap gap-1 w-75">
                    <div class="col">AngularJS</div>
                    <!-- <div class="col">JavaScript</div> -->
                    <div class="col">TypeScript</div>
                    <div class="col">Nebular</div>
                    <div class="col">Tailwind CSS</div>
                    <div class="col">Docker</div>
                    <div class="col">Postman</div>
                  </div>
                  <div class="project-links d-flex">
                    <a href="https://github.com/chetansharma428/Admin-Pannel" aria-label="GitHub Link"
                      rel="noopener noreferrer" target="_blank">
                      <img src="../../../assets/images/github.svg" alt="git">
                    </a>
                    <a href="https://admin-pannel-demo.netlify.app/" aria-label="GitHub Link" rel="noopener noreferrer"
                      target="_blank">
                      <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-external-link">
                        <title>External Link</title>
                        <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                        <polyline points="15 3 21 3 21 9"></polyline>
                        <line x1="10" y1="14" x2="21" y2="3"></line>
                      </svg>
                    </a>
                  </div>
              </div>
             
            </div>
            <div class="project-img" (click)="projectLink('Dashboard')">
              <img src="../../../assets/images/Project-3.png" alt="" />
            </div>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="project-container">
          <div class="project">
            <div class="project-content">
              <div class="project-label">Single-Page Web Application for Fashion Events</div>
              <h4 class="project-title">GlamourRise Academy</h4>
              <div class="project-details">
                <div class="description">
                  <ul>
                    <li>Designed and built a large scale Single Page Web-Application used by thousands of artists for
                      event registration.</li>
                    <li>Optimized the performance using Lazy-loading.</li>
                    <li>Wrote modular and reusable components to improve maintainability and performance of application.
                    </li>
                  </ul>
                </div>
                <div class="row project-tech-list d-flex align-items-end flex-wrap gap-1 w-75">
                  <div class="col">Angular JS</div>
                  <div class="col">JavaScript</div>
                  <div class="col">Bootstap 5</div>
                  <div class="col">HTML</div>
                  <div class="col">CSS</div>
                </div>
                <div class="project-links d-flex">
                  <a href="https://github.com/chetansharma428/Event-Website" aria-label="GitHub Link"
                    rel="noopener noreferrer" target="_blank">
                    <img src="../../../assets/images/github.svg" alt="git">
                  </a>
                  <a href="https://chetansharma428.github.io/GlamourRise/" aria-label="GitHub Link"
                    rel="noopener noreferrer" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-external-link">
                      <title>External Link</title>
                      <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                      <polyline points="15 3 21 3 21 9"></polyline>
                      <line x1="10" y1="14" x2="21" y2="3"></line>
                    </svg>
                  </a>
                </div>
              </div>
            </div>

            <div class="project-img" (click)="projectLink('GlamourRise')">
              <img src="../../../assets/images/Project-2.png" alt="" />
            </div>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="project-container">
          <div class="project">
            <div class="project-content">
              <div class="project-label">Messaging platform</div>
              <h4 class="project-title">Dungeon-Chat</h4>
              <div class="project-details">
                <div class="description">
                  <ul>
                    <li>Designed and built cloud-native chat application where users can sign up, login and search their
                      connected friends.</li>
                    <li>Built the authentication using Google Firebase.</li>
                    <li>Built real-time messaging feature for instant communication.</li>
                    <li>Used Google Firebase's as backend services to ensure scalability and fault-tolerance.</li>
                  </ul>
                </div>
                <div class="row project-tech-list d-flex align-items-start flex-wrap gap-1 w-75">
                  <div class="col">React JS</div>
                  <div class="col">Firebase</div>
                  <div class="col">Tailwind CSS</div>
                </div>
                <div class="project-links d-flex">
                  <a href="https://github.com/chetansharma428/DungeonChat" aria-label="GitHub Link"
                    rel="noopener noreferrer" target="_blank">
                    <img src="../../../assets/images/github.svg" alt="git">
                  </a>
                  <a href="https://dungeon-chat.netlify.app" aria-label="GitHub Link" rel="noopener noreferrer"
                    target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-external-link">
                      <title>External Link</title>
                      <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                      <polyline points="15 3 21 3 21 9"></polyline>
                      <line x1="10" y1="14" x2="21" y2="3"></line>
                    </svg>
                  </a>
                </div>
              </div>
            </div>

            <div class="project-img" (click)="projectLink('DC')">
              <img src="../../../assets/images/dungeon-chat-img.png" alt="" />
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>