<div class="container-fluid">
  <div class="container">
    <div class="col header d-flex justify-content-center align-items-center my-4">
      <div class="display-4 text-center">
        Some Things I’ve Built
      </div>
    </div>
    <div class="row d-flex flex-column">
      <div class="col">
        <div class="project-container">
          <div class="project">
            <div class="project-content">
              <div class="project-label">Internship Project</div>
              <h4 class="project-title">Admin-Dashboard</h4>
              <div class="project-details">
                <p>Dynamic and feature-rich Dashboard of a Full-Stack Website build with Angularjs with Lazy Loading
                  technique to make the Dashboard fast and lite. As the nerve center of our website, as the Dashboard is
                  the command center for employees and administrators alike. Seamlessly built using the latest Angularjs version, 
                  and used Nebular Components to offers a user-friendly interface that empowers you to manage and monitor
                  your entire online presence effortlessly. <br>
                   Demo ID: juby.handly5@gmail.com <br> Pass: test@1234</p>
                <ul>
                  <li>Angularjs</li>
                  <li>JavaScript</li>
                  <li>TypeScript</li>
                  <li>Bootstap5</li>
                  <li>Tailwind-CSS</li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>Nebular</li>
                </ul>
              </div>
            </div>

            <div class="project-img" (click)="projectLink('Dashboard')">
              <img src="../../../assets/images/Project-3.png" alt="" />
            </div>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="project-container">
          <div class="project">
            <div class="project-content-right">
              <div class="project-label">Web-Application</div>
              <h4 class="project-title">GlamourRise Academy</h4>
              <div class="project-details">
                <p>GlamourRise Academy is Single Page Web-Application Which is build in Angularjs, Bootstap5, HTML, CSS,
                  OwlCarousel. A platform where glamour meets artistry, and the world of makeup comes alive in all its
                  splendor.</p>
                <ul class="d-flex justify-content-end">
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>Bootstap5</li>
                  <li>Angularjs</li>
                  <li>JavaScript</li>
                </ul>
              </div>
            </div>

            <div class="project-img-right" (click)="projectLink('GlamourRise')">
              <img src="../../../assets/images/Project-2.png" alt="" />
            </div>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="project-container">
          <div class="project">
            <div class="project-content">
              <div class="project-label">Chat application</div>
              <h4 class="project-title">Dungeon-Chat</h4>
              <div class="project-details">
                <p>The chat application is built using the latest version of Google Firebase, featuring real-time
                  messaging capabilities for instant communication. Users can sign up, log in, and search for
                  friends to start conversations effortlessly. Firebase's powerful backend services ensure scalability
                  and a seamless messaging experience for users.</p>
                <ul>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>Tailwind</li>
                  <li>CSS</li>
                  <li>React</li>
                  <li>JavaScript</li>
                  <li>Firebase</li>
                </ul>
              </div>
            </div>

            <div class="project-img" (click)="projectLink('DC')">
              <img src="../../../assets/images/dungeon-chat-img.png" alt="" />
            </div>

          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>