<div class="container-fluid">
  <div class="container">
    <div class="col header d-flex justify-content-center align-items-center my-4">
      <div class="display-4 text-center">
        Some Things I’ve Built
      </div>
    </div>
    <div class="row d-flex flex-column">
      <div class="col">
        <div class="project-container">
          <div class="project">
            <div class="project-content">
              <div class="project-label">Internship Project</div>
              <h4 class="project-title">Admin-Dashboard</h4>
              <div class="project-details">
                <p>Dynamic and feature-rich Dashboard of a Full-Stack Website build with Angularjs with Lazy Loading
                  technique to make the Dashboard fast and lite. As the nerve center of our website, as the Dashboard is
                  the command center for employees and administrators alike. Seamlessly built using the latest Angularjs
                  version,
                  and used Nebular Components to offers a user-friendly interface that empowers you to manage and
                  monitor
                  your entire online presence effortlessly. <br>
                  Demo ID: juby.handly5@gmail.com <br> Pass: test@1234
                  <div class="row project-tech-list d-flex align-items-start py-2">
                    <div class="col">Angularjs</div>
                    <div class="col">JavaScript</div>
                    <div class="col">TypeScript</div>
                    <div class="col">Bootstap5</div>
                    <div class="col">Tailwind-CSS</div>
                    <div class="col">HTML</div>
                    <div class="col">CSS</div>
                  </div>
                <div class="project-links d-flex">
                  <a href="https://github.com/chetansharma428/Admin-Pannel" aria-label="GitHub Link"
                    rel="noopener noreferrer" target="_blank">
                    <img src="../../../assets/images/github.svg" alt="git">
                  </a>
                  <a href="https://admin-pannel-demo.netlify.app/" aria-label="GitHub Link" rel="noopener noreferrer"
                    target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-external-link">
                      <title>External Link</title>
                      <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                      <polyline points="15 3 21 3 21 9"></polyline>
                      <line x1="10" y1="14" x2="21" y2="3"></line>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="project-img" (click)="projectLink('Dashboard')">
              <img src="../../../assets/images/Project-3.png" alt="" />
            </div>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="project-container">
          <div class="project">
            <div class="project-content-right">
              <div class="project-label">Web-Application</div>
              <h4 class="project-title">GlamourRise Academy</h4>
              <div class="project-details">
                <p>GlamourRise Academy is Single Page Web-Application Which is build in Angularjs, Bootstap5, HTML, CSS,
                  OwlCarousel. A platform where glamour meets artistry, and the world of makeup comes alive in all its
                  splendor.</p>
                  <div class="row project-tech-list d-flex align-items-end py-2">
                    <div class="col">HTML</div>
                    <div class="col">CSS</div>
                    <div class="col">Bootstap5</div>
                    <div class="col">Angularjs</div>
                    <div class="col">JavaScript</div>
                  </div>
                  <div class="project-links d-flex">
                    <a href="https://github.com/chetansharma428/Event-Website" aria-label="GitHub Link"
                      rel="noopener noreferrer" target="_blank">
                      <img src="../../../assets/images/github.svg" alt="git">
                    </a>
                    <a href="https://chetansharma428.github.io/GlamourRise/" aria-label="GitHub Link" rel="noopener noreferrer"
                      target="_blank">
                      <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-external-link">
                        <title>External Link</title>
                        <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                        <polyline points="15 3 21 3 21 9"></polyline>
                        <line x1="10" y1="14" x2="21" y2="3"></line>
                      </svg>
                    </a>
                  </div>
              </div>
            </div>

            <div class="project-img-right" (click)="projectLink('GlamourRise')">
              <img src="../../../assets/images/Project-2.png" alt="" />
            </div>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="project-container">
          <div class="project">
            <div class="project-content">
              <div class="project-label">Chat application</div>
              <h4 class="project-title">Dungeon-Chat</h4>
              <div class="project-details">
                <p>The chat application is built using the latest version of Google Firebase, featuring real-time
                  messaging capabilities for instant communication. Users can sign up, log in, and search for
                  friends to start conversations effortlessly. Firebase's powerful backend services ensure scalability
                  and a seamless messaging experience for users.</p>
                  <div class="row project-tech-list d-flex align-items-start py-2">
                    <div class="col">HTML</div>
                    <div class="col">CSS</div>
                    <div class="col">Tailwind-CSS</div>
                    <div class="col">React</div>
                    <div class="col">JavaScript</div>
                    <div class="col">Firebase</div>
                  </div>
                  <div class="project-links d-flex">
                    <a href="https://github.com/chetansharma428/DungeonChat" aria-label="GitHub Link"
                      rel="noopener noreferrer" target="_blank">
                      <img src="../../../assets/images/github.svg" alt="git">
                    </a>
                    <a href="https://dungeon-chat.netlify.app" aria-label="GitHub Link" rel="noopener noreferrer"
                      target="_blank">
                      <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-external-link">
                        <title>External Link</title>
                        <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                        <polyline points="15 3 21 3 21 9"></polyline>
                        <line x1="10" y1="14" x2="21" y2="3"></line>
                      </svg>
                    </a>
                  </div>
              </div>
            </div>

            <div class="project-img" (click)="projectLink('DC')">
              <img src="../../../assets/images/dungeon-chat-img.png" alt="" />
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>