<div class="container-fluid" id="shooting_star">
    <div class="logo" [ngClass]="{ 'in': showLogoContent }" [@fadeOut]>
        <div class="meteors">
            <div class="meteor meteor--left"></div>
            <div class="meteor meteor--right"></div>
        </div>
        <div class="canvas">
            <div class="lines">
                <div class="line line--left"></div>
                <div class="line line--right"></div>
            </div>
            <div class="letters">
                <div class="letter letter--k">C</div>
                <div class="letter letter--o">S</div>
            </div>
        </div>
    </div>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div class="section" [ngClass]="{ 'show': showMainContent }" [@fadeInOut]>    
        <app-navbar></app-navbar>
        <app-hero></app-hero>
        <app-about></app-about>
        <app-who></app-who>
        <app-work></app-work>
        <app-contact></app-contact>
        <app-footer></app-footer>
    </div>
</div>