<div class="section d-flex">
    <div class="container-fluid my-4 d-flex flex-row align-items-center">
        <div class="container d-flex flex-column justify-content-center align-items-even">
            <div class="row ">
                <div class="col d-flex justify-content-center">
                    <div class="display-4 header">
                        Technologies & Skills
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5">
                <div class="flex-1 flex flex-col gap-4 bg-cardPrimary p-4 rounded-md shadow-lg box">
                    <div class="col head-text h4">Frontend</div>
                    <div class="col d-flex flex-wrap gap-2 ">
                        <div class="col">
                            <p>Angular.js <span><img src="../../../assets/images/angular.svg" alt=""></span></p>
                        </div>
                        <div class="col">
                            <p>JavaScript <span><img src="../../../assets/images/javascript.svg" alt=""></span></p>
                        </div>
                        <div class="col">
                            <p>React.js <span><img src="../../../assets/images/react.svg" alt=""></span></p>
                        </div>
                        <div class="col">
                            <p>TailWind <span><img src="../../../assets/images/tailwind-css.svg" alt=""></span></p>
                        </div>
                        <div class="col">
                            <p>Bootstrap <span><img src="../../../assets/images/bootstrap.svg" alt=""></span></p>
                        </div>
                        <div class="col">
                            <p> HTML <img src="../../../assets/images/html.svg" alt="html"></p>
                        </div>
                        <div class="col">
                            <p> CSS <span><img src="../../../assets/images/css.svg" alt=""></span></p>
                        </div>
                    </div>
                </div>
                <div class="flex-1 flex flex-col gap-4 bg-cardPrimary p-4 rounded-md shadow-lg box">
                    <div class="col head-text h4">Backend</div>
                    <div class="col d-flex flex-wrap gap-2 ">
                        <div class="col">
                            <p>Nestjs<img src="../../../assets/images/nestjs.svg" alt="html"></p>
                        </div>
                        <div class="col">
                            <p> Express.js<span class="px-1"><img src="../../../assets/images/express-js.svg" alt=""></span></p>
                        </div>
                    </div>
                </div>
                <div class="flex-1 flex flex-col gap-4 bg-cardPrimary p-4 rounded-md shadow-lg box">
                    <div class="col head-text h4">Database</div>
                    <div class="col d-flex flex-wrap gap-2 ">
                        <div class="col">
                            <p> Mysql <img src="../../../assets/images/mysql-48.png" alt="html"></p>
                        </div>
                        <div class="col">
                            <p> MongoDB<span><img src="../../../assets/images/mongo-db-64.png" alt=""></span></p>
                        </div>
                    </div>
                </div>
                <div class="flex-1 flex flex-col gap-4 bg-cardPrimary p-4 rounded-md shadow-lg box">
                    <div class="col head-text h4">Devops</div>
                    <div class="col d-flex flex-wrap gap-2 ">
                        <div class="col">
                            <p> Docker <img src="../../../assets/images/docker.svg" alt="html"></p>
                        </div>
                        <div class="col">
                            <p> Postman <span><img src="../../../assets/images/postman-api.svg" alt=""></span></p>
                        </div>
                        <div class="col">
                            <p> insomnia <span><img src="../../../assets/images/insomnia.svg" alt=""></span></p>
                        </div>
                        <div class="col">
                            <p> Git <span><img src="../../../assets/images/git.svg" alt=""></span></p>
                        </div>
                        <div class="col">
                            <p> AWS <span><img src="../../../assets/images/aws.png" alt=""></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>