.section{
    height: 100vh;
}
.stepper {
    .line {
      width: 2px;
      background-color: lightgrey !important;
    }
    .lead {
      font-size: 1.1rem;
    }
  }
  .header{
    color: cyan
  }
  .box{
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 1rem;
    border-radius: 5px;
  }
  img{
    height: 48px;
    width: 48px;
  }
  p{
    display:inline-block;
    color: white;
    font-family: system, -apple-system, BlinkMacSystemFont, Roboto,
      "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    
  }
  .head-text{
    color: wheat;
  }
  /* Styles for Small Screens (up to 576px) */
@media (max-width: 576px) {
   
}

/* Styles for Medium Screens (576px - 768px) */
@media (min-width: 576px) and (max-width: 768px) {
 
}

/* Styles for Large Screens (768px - 992px) */
@media (min-width: 768px) and (max-width: 992px) {
 
}

/* Styles for Extra Large Screens (992px and above) */
@media (min-width: 992px) {
 
}

/* Additional Styles for Specific Screen Sizes */
/* For example, you can add more media queries for larger screens */
@media (min-width: 1200px) {
  
}